{% extends "base.html.twig" %}

{% block title %}Table{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<div class="text exercises">
    <div class="table">
        <div class="dealer">
        </div>
        <div class="t-player">
        </div>
        <div class="deck">
            <img src="{{ asset('img/cards/back.png') }}">
        </div>
        <div class="controls">
            <p>Balance: {{ balance }}</p>
            <form method="post" action="{{ path("game-table-bet") }}">
                <input type="number" required="true" max="{{ balance }}" name="wage" placeholder="Enter wage..">
                <input type="submit" name="bet" value="Bet">
            </form>
            <a href="{{ path("game-reset") }}">RESET</a>
        </div>


    </div>
    
</div>

{% endblock %}