<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ path('home') }}">HOME</a>
            <a href="{{ path('about') }}">ABOUT</a>
            <a href="{{ path('report') }}">REPORT</a>
            <a href="{{ path('exercise') }}">EXERCISE</a>
            <a href="{{ path('card-home') }}">CARD</a>
            <a href="{{ path('app_library') }}">LIBRARY</a>
            <a href="{{ path('metrics') }}">METRICS</a>
            <a href="{{ path('casino-index') }}">PROJEKT</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p>John Fredriksson MVC 2022 BTH</p>
            <a href="https://github.com/johnfredriksson/mvc-report">Github Repository</a>
            <a href="{{ path("home") }}">Reset Session</a>
        </div>
    </body>
</html>
