{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block content %}
<h1>LIBRARY</h1>
<div class="library-navigation">
    <a href="{{ path("book_create") }}">Skapa ny bok</a>
</div>
<div class="library-gallery">
    {% for book in books %}
        <div class="library-gallery-card" style="background-image: url('{{ book.image }}')">
            <div class="library-gallery-card-controls">
                <p style="text-align: center">{{ book.name }}</p>
                <a href="{{ path("book_single", {"id": book.id}) }}">Mer info</a>
                <a href="{{ path("book_update", {"id": book.id}) }}">Uppdatera</a>
                <a href="{{ path("book_delete", {"id": book.id}) }}">Ta bort</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
