{% extends "casino/base.html.twig" %}
{% block content %}
    <div class="poker">
        <div class="poker-bank">
            {% for card in bank %}
                <img class="card" src="{{ asset("img/cards/") }}{{card}}">
            {% endfor %}
        </div>
        <div class="poker-community">
            {% for card in community %}
                <img class="card" src="{{ asset("img/cards/") }}{{card}}">
            {% endfor %}
        </div>
        <div class="poker-player">
            {% for card in player %}
                <img class="card" src="{{ asset("img/cards/") }}{{card}}">
            {% endfor %}
        </div>
        <div class="pot">
            <h2 class="pot-value">{{ pot }} sek</h2>
            <em class="blind-value">Blind is: {{ blind }} by {{ blindTurn }}</em><br>
            <em class="balance">Balance: {{ user.balance }}</em>
        </div>
        <div class="poker-controls">
            <form method="POST">
                <input readonly>
                <input type="submit" value="Fortsätt" name="continue">
                <input readonly>
                <input type="submit" value="Ändra insats" name="changeBlind">
                <input readonly>
                
            </form>
        </div>
        {{ include('poker/flash-message.html.twig') }}
    </div>
{% endblock %}