{% extends "casino/base.html.twig" %}
{% block content %}
    <div class="poker">
        <div class="poker-bank">
            <img src="{{ asset("img/cards/back.png") }}">
            <img src="{{ asset("img/cards/back.png") }}">
        </div>
        <div class="poker-community">
            {% for card in community %}
                <img class="card" src="{{ asset("img/cards/") }}{{card}}">
            {% endfor %}
        </div>
        <div class="poker-player">
            {% for card in player %}
                <img class="card" src="{{ asset("img/cards/") }}{{card}}">
            {% endfor %}
        </div>
        <div class="pot">
            <h2 class="pot-value">{{ pot }} sek</h2>
            <em class="blind-value">Blind is: {{ blind }} by {{ blindTurn }}</em><br>
            <em class="balance">Balance: {{ user.balance }}</em>
        </div>
        <div class="poker-controls">
                <form class="fold" action="{{ path("poker-fold") }}">
                    <input type="submit" value="Fold">
                </form>
            <form method="POST">
                {# <input type="submit" value="Fold" name="fold"> #}
                {% if answer ?? false %}
                    <input readonly>
                    <input type="submit" value="Call {{ callAmount ?? "" }}" name="call">
                    <input type="submit" value="Raise" name="raise">
                    {% if blind >= user.balance %}
                    <input type="number" min="{{ user.balance }}" value="{{ user.balance }}" max="{{ user.balance }}" name="wage" step="{{ blind / 2 }}">
                    {% else %}
                    <input type="number" min="{{ callAmount }}" value="{{ callAmount }}" max="{{ user.balance }}" name="wage" step="{{ blind / 2 }}">
                    {% endif %}
                {% else %}
                    <input type="submit" value="Check" name="check">
                    <input readonly>
                    <input type="submit" value="Raise" name="raise">
                    {% if blind >= user.balance %}
                    <input type="number" min="{{ user.balance }}" value="{{ user.balance }}" max="{{ user.balance }}" name="wage" step="{{ blind / 2 }}">
                    {% else %}
                    <input type="number" min="{{ callAmount }}" value="{{ callAmount }}" max="{{ user.balance }}" name="wage" step="{{ blind / 2 }}">
                    {% endif %}
                {% endif %}
            </form>
        </div>
        {{ include('poker/flash-message.html.twig') }}
    </div>
{% endblock %}